//blobfishmaster.usw-18.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@custom-widget:registry=https://blobfishmaster.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.widgetregistry..widget-set.64454520-8057-473c-8b1f-a2b802bd6410/contents/release/npm/
